<% include partials/header %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/CSS/itinery_display.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/Media/logo.png"
        width="30"
        height="30"
        style="border-radius: 4px;"
        class="d-inline-block align-top"
        alt="Logo"
      />
      TravelEasy
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if(user){ %>
        <li class="nav-item">
          <span class="navbar-text">
            Welcome! <%= user.fname %>
          </span>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <% if(!user){ %>
          <a class="nav-link" href="/login">Login</a>
          <% }else{ %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
        <input
          class="form-control mr-sm-2"
          type="search"
          name="search"
          placeholder="Search destinations..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<br />
<br /><br /><br /><br /><br /><br /><br />

<div class="carousel-container">
  <div class="carousel">
    <% for(var i=0; i < places.length && i < 6; i++ ) { %>
    <img
      src="<%= places[i].image_path %>"
      class="item <%= items[i] %>"
      alt="<%= places[i].name %>"
    />
    <% } %>
    <!-- <img src="/IMAGEUPLOADS/IMG_1362.JPG" class="item f" alt="image"> -->
  </div>
</div>
<br />
<br /><br />
<div class="next">Next</div>
<div class="prev">Prev</div>

<div class="container">
  <div class="card bg-light border-dark">
    <div class="card-header">
      <h5 class="card-title text-center mt-2"><%= tour.name %></h5>
    </div>
    <div class="card-body">
      <div class="container">
        <!-- <div class="row"> -->
        <h6 class="card-subtitle mb-2">Tour Duration:</h6>
        <p class="card-text"><%= tour.duration %></p>

        <h6 class="card-subtitle mb-2">Tour Description:</h6>
        <ul>
          <% for(var i=0; i< description.length; i++){ %>
          <li class="card-text">
            <%= description[i] %>
          </li>
          <% } %>
        </ul>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <h6 class="card-subtitle mb-2">Places Covered:</h6>
        <ul>
          <% for(var i=0; i< places.length; i++){ %>
          <li class="card-text">
            <%= places[i].name %>
          </li>
          <% } %>
        </ul>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <h6 class="card-subtitle mb-2">Tour costs:</h6>
        <ul>
          <% for(var i=0; i< costs.length; i++){ %>
          <li class="card-text"><%= costs[i] %></li>
          <% } %>
        </ul>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <h6 class="card-subtitle mb-2">Tour Operational Dates:</h6>
        <ul>
          <% for(var i=0; i< dates.length; i++){ %>
          <li class="card-text"><%= dates[i] %></li>
          <% } %>
        </ul>
        <!-- </div> -->
      </div>
    </div>
    <div class="card-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            Tour-type: <span class="badge badge-info"><%= tour.type%></span>
          </div>
          <div class="col-sm"></div>
          <div class="col-sm ml-auto">
            Region: <span class="badge badge-dark"><%= tour.region %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <!-- Timeline -->
      <ul class="timeline">
        <% for(var i=0; i < itinerary.length; i++ ) { %>
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0">DAY <%= i+1 %></h2>
          <p class="text-small mt-2 font-weight-light"><%= itinerary[i] %></p>
        </li>
        <% } %>
      </ul>
      <!-- End -->
    </div>
  </div>
</div>
<a href="\IMAGEUPLOADS\char_dham.rtf" download>
  <button class="btn">
    <i class="fa fa-download"></i> Download full itinery
  </button>
</a>


<br /><br />
<!--optional javascript and Jquery-->
<script src="/JS/itinery_display.js"></script>

<% include partials/footer %>
