<% include partials/header %>

<link rel="stylesheet" href="/CSS/search.css">
<title>Tours and travels</title>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/Media/logo.png" width="30" height="30" style="border-radius: 4px;"
                class="d-inline-block align-top" alt="Logo">
            TravelEasy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if(user){ %>
                <li class="nav-item">
                    <span class="navbar-text">
                        Welcome!
                        <%= user.fname %>
                    </span>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tours">Tours
                    </a>
                </li>
                <li class="nav-item">
                    <% if(!user){ %>
                    <a class="nav-link" href="/login">Login</a>
                    <% }else{ %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>



<br>
<br>
<br>



<div class="main">
    <div id="first"></div>
    <div id="second">
        <div class="container">
            <div class="card mb-4">
                <div class="card-header">
                    Select Travel Date range
                </div>
                <div class="card-body text-center">
                    <form action="/filter-by-dates" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="date" id="date1" name="datefield1"
                                        placeholder="Select from travel date" class="form-control">
                                </div>
                                <div class="col">
                                    <span class="badge badge-dark">And</span>
                                </div>
                                <div class="col">
                                    <input type="date" name="datefield2" id="date2"
                                        placeholder="Select till travel date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="container text-center">
                            <input type="submit" value="Search" class="btn btn-secondary">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <% if(results !== "No Results"){ %>
        <div class="container-fluid">
            <h3 class="text-center">Your search results</h3>
        </div>
        <div class="card-container">
            <div class="container">
                <% for(var i = 0; i< results.length; i++){%>
                <div class="card mb-3">
                    <img src="<%= results[i].places[0].image_path %>" class="card-img-top" alt="Image here" width="500"
                        height="400">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="<%= "/tours/" + results[i].t_id %>"><%= results[i].name %></a>
                        </h5>
                        <h6 class="card-subtitle mb-2">Tour Description:</h6>
                        <ul>
                            <% for(var j=0; j< descriptionArray[i].length; j++){ %>
                            <li class="card-text">
                                <small class="text-muted"><%= descriptionArray[i][j] %></small>
                            </li>
                            <% } %>
                        </ul>
                        <h6 class="card-subtitle mb-2">Tour Operational Dates:</h6>
                        <ul>
                            <% for(var m=0; m< datesArray[i].length; m++){ %>
                            <li class="card-text">
                                <small class="text-muted"><%= datesArray[i][m] %></small>
                            </li>
                            <% } %>
                        </ul>
                        <p class="card-text"><small class="text-muted"><span
                                    class="badge badge-dark"><%= results[i].region %></span></small></p>
                    </div>
                </div>
                <% } %>
                <% }else{ %>
                <div class="card mb-3">
                    <div class="card-body text-center container">
                        <h2>No tours! :(</h2>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>