<% include partials/header %>
<link rel="stylesheet" href="CSS/tour-list.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/Media/logo.png" width="30" height="30" style="border-radius: 4px;"
                class="d-inline-block align-top" alt="Logo">
            TravelEasy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if(user){ %>
                <li class="nav-item">
                    <span class="navbar-text">
                        Welcome!
                        <%= user.fname %>
                    </span>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tours">Tours
                    </a>
                </li>
                <li class="nav-item">
                    <% if(!user){ %>
                    <a class="nav-link" href="/login">Login</a>
                    <% }else{ %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="main">
    <div style="height: 64px;"></div>
    <div class="container">
        <div class="card mb-4">
            <div class="card-header">
                Select Travel Date range
            </div>
            <div class="card-body text-center">
                <form action="/filter-by-dates" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="date" id="date1" name="datefield1" placeholder="Select from travel date"
                                    class="form-control">
                            </div>
                            <div class="col">
                                <span class="badge badge-dark">And</span>
                            </div>
                            <div class="col">
                                <input type="date" name="datefield2" id="date2" placeholder="Select till travel date"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <input type="submit" value="Search" class="btn btn-secondary">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <% for(var j=0; j< toursByRegion.length; j++){ %>
        <div class="container bg-light mr-1">
            <h3>Region: <span class="badge badge-secondary"><%= toursByRegion[j][0].region %></span></h3>
        </div>
        <!-- <div class="card-deck mb-4"> -->
        <% for(var k=0; k< toursByRegion[j].length; k++){ %>
        <div class="<%= (k===toursByRegion[j].length-1 && j===toursByRegion.length -1)?'card border-secondary':'card border-secondary mb-5' %>">
            <img src="<%= toursByRegion[j][k].places[0].image_path %>" class="card-img-top" alt="..." width="50px"
                height="350px">
            <div class="card-body">
                <h5 class="card-title"><a
                        href="/tours/<%= toursByRegion[j][k].t_id %>"><%= toursByRegion[j][k].name %></a></h5>
                <p class=" card-text">
                    <h6 class="card-subtitle mb-2">Places Covered:</h6>
                    <ul>
                        <% for(var i=0; i< toursByRegion[j][k].places.length; i++){ %>
                        <li class="card-text">
                            <small class="text-muted"><%= toursByRegion[j][k].places[i].name %></small>
                        </li>
                        <% } %>
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                Type: <span class="badge badge-dark"><%= toursByRegion[j][k].type %></span>
            </div>
        </div>
        <% } %>
        <!-- </div> -->
        <% } %>
    </div>

</div>

<div>
    <section id="footer">
        <div class="container-fluid">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">

                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact us</a></li>
                        <li><a href="/privacy-policy"><i class="fa fa-angle-double-right"></i>Privacy Policy</a>
                        </li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="#">TravelEasy</a></u> is a Registered Website helping umpteen people explore
                        India.
                    </p>
                    <p class="h6"> All right Reserved.</p>
                </div>
                </hr>
            </div>
        </div>
    </section>
</div>

<!-- ./Footer -->

<!-- Optional JavaScript -->
<% include partials/footer %>